<section class="archive-list">
    <ul class="archive">
        <% page.posts.each(function (post) { %>
        <li>
            <span class="archive-date"><%= date(post.date, "YYYY.MM.DD") %></span>
            <div class="archive-main">
                <a class="archive-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
                <a class="archive-info" href="<%- url_for(post.tags.data[0].path) %>">by：<%= post.tags.data[0].name %></a>
                <a class="archive-info" href="<%- url_for(post.categories.data[0].path) %>"><%= post.categories.data[0].name %></a>
                <% if (post.tags.data.length > 1) { %>
                    <a class="archive-info" href="<%- url_for(post.tags.data[1].path) %>">《<%= post.tags.data[1].name.replace("》》》", "") %>》</a>
                <% } %>
            </div>
        </li>
        <% }) %>
    </ul>
</section>
<%- partial('_partial/paginator') %>