<div class="cat-list">
    <div>分类条件：</div>
    <div id="the-cat-btn" class="cat-btn showing">类型</div>
    <div id="the-author-btn" class="cat-btn">作者</div>
    <div id="the-type-btn" class="cat-btn">系列</div>
</div>
<section class="archive-list">
    <ul id="the-cat" class="archive">
        <% site.categories.each(function (category) { %>
            <span class="archive-sub">
                <i class="fa fa-genderless" /></i>
                <%= category.name %>
            </span>
            <% category.posts.forEach(function (post) { %>
                <li>
                    <span class="archive-date">
                        <%= date(post.date, "YYYY-MM-DD" ) %>
                    </span>
                    <div class="archive-main">
                        <a class="archive-title" href="<%- url_for(post.path) %>">
                            <%= post.title %>
                        </a>
                        <span class="archive-info">
                            by：<%= post.author %>
                        </span>
                    </div>
                </li>
            <% }) %>
        <% }) %>
    </ul>
    <ul id="the-author" class="archive hiding">
        <% var author_list = []
        site.posts.each(function (post) {
            author_list.push(post.author)
        })
        const authors_list = Array.from(new Set(author_list)) %>
        <% authors_list.forEach(function (ath) { %>
            <span class="archive-sub">
                <i class="fa fa-genderless" /></i>
                <%= ath %>
            </span>
            <% site.posts.each(function(p) { %>
                <% if(p.author == ath) { %>
                    <li>
                        <span class="archive-date">
                            <%= date(p.date, "YYYY-MM-DD" ) %>
                        </span>
                        <div class="archive-main">
                            <a class="archive-title" href="<%- url_for(p.path) %>">
                                <%= p.title %>
                            </a>
                            <span class="archive-info">
                                <%= p.categories.data[0].name %>
                            </span>
                        </div>
                    </li>
                <% } %>
            <% }) %>
        <% }) %>
    </ul>
    <ul id="the-type" class="archive hiding">
        <% var type_list = [] %>
        <% site.posts.each(function (post) { %>
            <% if(post.type) { %>
                <% type_list.push(post.type) %>
            <% } %>
        <% }) %>
        <% const types_list = Array.from(new Set(type_list)) %>
        <% types_list.forEach(function (typ) { %>
            <span class="archive-sub">
                <i class="fa fa-genderless" /></i>
                <%= typ %>
                <span class="archive-info">
                    <% site.categories.each(function (category) {
                        category.posts.some(function (post) {
                            if(post.type == typ) { %>
                                <%= category.name %>
                                <% return true %>
                            <% } %>
                        <% }) %>
                    <% }) %>
                </span>
            </span>
            <% site.posts.each(function(p) { %>
                <% if(p.type == typ) { %>
                    <li>
                        <span class="archive-date">
                            <%= date(p.date, "YYYY-MM-DD" ) %>
                        </span>
                        <div class="archive-main">
                            <a class="archive-title" href="<%- url_for(p.path) %>">
                                <%= p.title %>
                            </a>
                            <span class="archive-info">
                            by：<%= p.author %>
                            </span>
                        </div>
                    </li>
                <% } %>
            <% }) %>
        <% }) %>
    </ul>
</section>
<%- js('js/cat-switch.js') %>