<section class="archive-list">
    <ul class="archive">
        <% site.categories.each(function (category) { %>
            <span class="archive-sub">
                <i class="fa fa-genderless"></i>
                <%= category.name %>
            </span>
            <% category.posts.forEach(function (post) { %>
                <li>
                    <span class="archive-date">
                        <%= date(post.date, "YYYY-MM-DD" ) %>
                    </span>
                    <div class="archive-main">
                        <a class="archive-title" href="<%- url_for(post.path) %>">
                            <%= post.title %>
                        </a>
                        <a class="archive-info" href="<%- url_for(post.tags.data[0].path) %>">
                            by：<%= post.tags.data[0].name %>
                        </a>
                    </div>
                </li>
            <% }) %>
        <% }) %>
    </ul>
</section>
