<%- partial('_partial/bulletin') %>
    <div class="post-list">
        <% page.posts.each(function (post) { %>
            <div class="post">
                <a class="post-title" href="<%- url_for(post.path) %>">
                    <%= post.title %>
                </a>
                <div class="post-date">by：<%= post.author %>
                    <a href="<%- url_for(post.categories.data[0].path) %>">
                        <%= post.categories.data[0].name %>
                    </a></div>
                <div class="post-except">
                    <% if (post.short) { %>
                        <%= post.short %>
                    <% } else { %>
                        <%- strip_html(post.content).substr(0, 240) %>
                    <% } %>
                    <a class="read-more" href="<%- url_for(post.path) %>"> ... </a>
                </div>
                <div class="post-date"><%- date(post.date, "YYYY.MM.DD" ) %></div>
            </div>
            <% }) %>
    </div>
    <%- partial('_partial/paginator') %>