<div class="post-main">

    <% if (is_post()) { %>
    
        <div class="post-main-title">
            <%= page.title %>
        </div>
        <div class="post-meta" style="margin-bottom: 0;">
            by：<%= page.tags.data[0].name %>
        </div>
        <div class="post-meta" style="margin-bottom: 0;">
            约<%= symbolsCount(page) %>字 | 需 <%= symbolsTime(page) %>
        </div>
        <div class="post-meta">
            <%- date(page.date, "YYYY-MM-DD") %>
        </div>
        <% if(page.stars) { %>
            <div class="post-book">
                <div class="book-name">
                    <%= page.title %>
                </div>
                <div class="book-stars">
                    <span>评分</span>
                    <% score = page.stars %>
                    <% if(score !== 'null') { %>
                        <% 
                        full_score = score - score % 1
                        half_score = Math.ceil(score % 1 )
                        empty_score = Math.floor(5 - score)
                        %>
                        <% if(full_score > 0) { %>
                            <% for (var i = 0; i < full_score; i++) { %>
                                <i class="fa fa-star"></i>
                                <% } %>
                        <% } %>
                        <% if(half_score > 0) { %>
                            <% for (var i = 0; i < half_score; i++) { %>
                                <i class="fa fa-star-half-o"></i>
                                <% } %>
                        <% } %>
                        <% if(empty_score > 0) { %>
                            <% for (var i = 0; i < empty_score; i++) { %>
                                <i class="fa fa-star-o"></i>
                                <% } %>
                        <% } %>
                    <% } else { %>
                        <p>未评分</p>
                    <% } %>
                </div>
            </div>
        <% } %>
        <div class="post-md">
            <%- page.content %>
        </div>
        <div class="post-btn">
            <a href="<%- url_for(page.tags.data[0].path) %>" class="fast-btn"><i class="fa fa-eye"></i>作者</a>
            <% if (page.tags.data.length > 1) { %>
                <% 
                series = page.tags.data[1]
                series_data = series.posts.sort('date', 'desc')
                %>
                <% if (series_data.length > 1) {%>
                    <% page_index = -1 %>
                    <% for(var i = 0; i < series_data.length; i++) {
                        if(series_data.data[i].path === page.path) {
                            page_index = i
                        }
                    }%>
                    <% if (page_index > -1) {%>
                        <div class="full-series">
                            <% if (page_index < (series_data.length - 1)) { %>
                                <a href="<%- url_for(series_data.data[page_index + 1].path) %>" class="fast-btn"><i class="fa fa-chevron-left"></i>上章</a>
                            <% } %>
                            <a href="<%- url_for(series.path) %>" class="fast-btn">章节</a>
                            <% if (page_index !== 0) { %>
                                <a href="<%- url_for(series_data.data[page_index - 1].path) %>" class="fast-btn">下章 <i class="fa fa-chevron-right"></i></a>
                            <% } %>
                        </div>
                    <% } %>
                <% } else { %>
                    <a href="<%- url_for(series.path) %>" class="fast-btn"><i class="fa fa-eye"></i>章节</a>
                <% } %>
            <% } %>
        </div>
    <% } else { %>
        <div class="post-md">
            <%- page.content %>
        </div>
    <% } %>
</div>