<div class="post-main">

    <% if (is_post()) { %>
    
        <div class="post-main-title">
            <%= page.title %>
        </div>
        <div class="post-meta" style="margin-bottom: 0;">
            by：<%= page.tags.data[0].name %>
        </div>
        <div class="post-meta" style="margin-bottom: 0;">
            约<%= symbolsCount(page) %>字 | 需 <%= symbolsTime(page) %>
        </div>
        <div class="post-meta">
            <%- date(page.date, "YYYY-MM-DD") %>
        </div>
        <div class="post-md">
            <%- page.content %>
        </div>
        <div class="post-btn">
            <a href="<%- url_for(page.tags.data[0].path) %>" class="fast-btn"><i class="fa fa-eye"></i>作者</a>
            <% if (page.tags.data.length > 1) { %>
                <a href="<%- url_for(page.tags.data[1].path) %>" class="fast-btn"><i class="fa fa-eye"></i>章节</a>
            <% } %>
        </div>

    <% } else { %>

        <div class="post-md">
            <%- page.content %>
        </div>

    <% } %>

</div>