<% let posts = [] %>
<% site.tags.data.forEach(tag => { %>
    <% if (is_tag(tag.name)) { %>
        <%
            posts = tag.posts
            posts.data.sort((a, b) => b.date - a.date)
        %>
    <% } %>
<% }) %>
<% if (!posts.length) { %>
    <div class="cat-box">
        <div class="cat-title">类型：</div>
        <div class="cat-list">
            <% site.categories.each(function (category) { %>
                <div class="btn-box">
                    <a href="<%- url_for(category.path) %>" class="cat-btn"><%= category.name %></a>
                </div>
            <% }) %>
        </div>
    </div>
    <% var index_list = [] %>
    <div class="cat-box">
        <div class="cat-title">作者：</div>
        <div class="cat-list">
            <% site.tags.each(function (tag) { %>
                <%  if (!(tag.name.includes("》》》"))) { %>
            <div class="btn-box">
                <a href="<%- url_for(tag.path) %>" class="cat-btn"> <%= tag.name %></a>
            </div>
            <% } else { index_list.push(tag) }}) %>
        </div>
    </div>
    <div class="cat-box">
        <div class="cat-title">系列：</div>
        <div class="cat-list">
            <% index_list.forEach(function (tag) { %>
                <div class="btn-box">
                    <a href="<%- url_for(tag.path) %>" class="cat-btn"> 《<%= tag.name.replace("》》》", "") %>》</a>
                </div>
            <% }) %>
        </div>
    </div>
<% } else { %>
    <% let page_tag = [] %>
    <% posts.data[0].tags.data.forEach(this_tag => { %>
        <% if (is_tag(this_tag.name)) { %>
            <% page_tag = this_tag %>
        <% } %>
    <% }) %>
    <section class="archive-list">
        <ul class="archive">
            <span class="archive-sub-type">
                <i class="fa fa-genderless"></i>
                <%= page_tag.name.replace("》》》", "") %>
                <% if (page_tag.name.includes("》》》")) { %>
                    <a class="archive-info" href="<%- url_for(page_tag.posts.data[0].categories.data[0].path) %>">
                        <%= page_tag.posts.data[0].categories.data[0].name %>
                    </a>
                <% } %>
            </span>
            <% posts.forEach(function (post) { %>
                <li>
                    <span class="archive-date"><%= date(post.date, "YY.MM.DD") %></span>
                    <div class="archive-main">
                        <a class="archive-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
                        <% if (page_tag.name.includes("》》》")) { %>
                            <a class="archive-info" href="<%- url_for(post.tags.data[0].path) %>">by：<%= post.tags.data[0].name %></a>
                        <% } else { %>
                            <a class="archive-info" href="<%- url_for(post.categories.data[0].path) %>"><%= post.categories.data[0].name %></a>
                            <% if (post.tags.data.length > 1) { %>
                                <a class="archive-info" href="<%- url_for(post.tags.data[1].path) %>">《<%= post.tags.data[1].name.replace("》》》", "") %>》</a>
                            <% } %>
                        <% } %>
                    </div>
                </li>
            <% }) %>
        </ul>
    </section>
    <%- partial('_partial/paginator') %>
<% } %>