<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="author" content="<%= config.author %>">
    <meta name="description" content="<%= config.title %>">

    <title>
        <%= config.title %>
    </title>

    <link rel="alternate icon" type="image/png" href="<%- url_for('/img/web-icon.ico') %>">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/lxgw-wenkai-screen-webfont/1.6.0/style.min.css" />
    <link href="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.staticfile.org/waline/2.15.8/waline.css" />
    <%- css('css/fonts.css') %>
    <%- css('css/reset.css') %>
    <%- css('css/style.css') %>
    <%- css('css/markdown.css') %>
</head>