<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="author" content="<%= config.author %>">
	<meta name="description" content="<%= config.title %>">

    <title><%= config.title %> | <%= config.subtitle %></title>

    <link rel="alternate icon" type="image/png" href="<%- url_for('/img/favicon.png') %>">
    <%- css('css/reset.css') %>
    <%- css('css/style.css') %>
    <%- css('css/markdown.css') %>
    <%- css('css/fonts.css') %>
</head>